# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.consign

KFParticle4Lambda/xml/*

*.log

.sl73*

.vscode\**

KFParticle4Lambda/.sl73_x8664_gcc485/OBJ/StRoot/StKFParticleAnalysisMaker/StKFParticleAnalysisMaker_Cint.cxx

KFParticle4Lambda/.sl73_x8664_gcc485/obj/StRoot/StKFParticleAnalysisMaker/StKFParticleAnalysisMaker_Cint.cxx
KFParticle4Lambda/.sl73_x8664_gcc485/obj/StRoot/StRefMultCorr/StRefMultCorr_Cint.cxx
KFParticle4Lambda/.sl73_x8664_gcc485/obj/StRoot/StKFParticleAnalysisMaker/StKFParticleAnalysisMaker_Cint.cxx
KFParticle4Lambda/.sl73_x8664_gcc485/obj/StRoot/StKFParticleAnalysisMaker/StKFParticleAnalysisMaker_Cint.cxx
.vscode/settings.json

QA-Group/PSY/.sl73_gcc485
QA-Group/PSY/.sl73_x8664_gcc485
QA-Group/PSY/temp_gccflags.c

